<h2>My Environments</h2>
<div>
  <label>Environment name:</label> <input #hostName />
  <button (click)="add(hostName.value); hostName.value=''">
    Add
  </button>
</div>
<ul class="envs">
  <li *ngFor="let env of envs"
      [routerLink]="['/detail', env.id]"
      [class.selected]="env === selectedEnv">
    <span class="badge">{{env.id}}</span>
    <span>{{env.nodes[1].host}}</span>
    <button class="delete"
            (click)="delete(env); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedEnv">
  <h2>
    {{selectedEnv.nodes[1].host | uppercase}} is my host
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
